



<div id="search_title">
  <h2>Search Results</h2>
</div>
<div id="search_results">
  <div class="result_type">
    <div class="title">
      <p class="bar_title title_background">Contacts Found</p>
    </div>
    <div class="results">
      <div class="found_contacts">
        <ul>
        <% @sUsers.each do |user| %>
            <li><div class="contact_box">
              <img class="contact_img" src="<%= asset_path(user.img_url)%>"/>
              <%= link_to user.name, user_path(user) %>
               <% if !current_user.friends.exists?(user)%>
              (<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post%>)
              <% end %>
            </div>
            </li>
        <% end %>
        </ul>
      </div>
    </div>
    <div class="title">
      <p class="bar_title title_background">Companies Found</p>
    </div>
    <div class="results">
      <div class="current_contacts">
        <ul class="contacts_list">
          <% @sCompanies.each do |company| %>
              <li><div class="contact_box">
                <img class="contact_img" src="<%= asset_path(company.img_url)%>"/>
                <%= company.name %>
              </div>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="search_footer">

</div>