<div class="form_holder">
<%= form_for(@jobshistory) do |f| %>
  <% if @jobshistory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jobshistory.errors.count, "error") %> prohibited this jobshistory from being saved:</h2>

      <ul>
      <% @jobshistory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br>
    <%= f.number_field :start, class:'form-control' %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.number_field :end, class:'form-control' %>
  </div>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company, class:'form-control' %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, class:'form-control' %>
  </div>
  <div class="field">
    <%= f.label :job %><br>
    <%= f.text_field :job, class:'form-control' %>
  </div>
  <div class="actions centered">
    <%= f.submit "Submit Changes", class: 'btn btn-custom' %>
  </div>
<% end %>
</div>