<div id="contacts">

  <div class="contact_notices">
    <h1 class="h1 inline_block vcenter">Contacts</h1>
    <div class="pending_requests inline_block">
      <div class="button_holder">
            <%= link_to "Pending Requests", '#potato', class: 'btn btn-sm btn-custom' %>
      </div>
    </div>
  </div>
  <div class="contact_list">
    <ul>
      <% for friendship in current_user.friendships %>
          <li><div class="contact_box">
            <img class="contact_img" src="<%= asset_path(friendship.friend.img_url)%>"/>
            <%= friendship.friend.name %>
            (<%= link_to "remove", friendship, :method => :delete %>)
          </div>
          </li>
      <% end %>
      <% for user in current_user.inverse_friends %>
          <li><div class="contact_box">
            <img class="contact_img" src="<%= asset_path(user.img_url)%>"/>
            <%= user.name %>
          </div>
          </li>
      <% end %>
    </ul>
    <div class="apple_pagination">
      <%= will_paginate @friendships, :page_links => true %>
    </div>
  </div>
 </div>