<!-- USER -->
  <div id="user_info" class="clear">
    <div id="user_photo_holder">
    <img id="user_photo" src="<%= asset_path(@user.img_url) %>">
    </div>
    <div id="user_text">
      <p><span class="curriculum_author_title">Name: </span><span class="curriculum_author_text"><%= @user.name %></span></p>
      <p><span class="curriculum_author_title">Employed at: </span><span class="curriculum_author_text"><%= @user.workplace %></span></p>
      <br>
      <% if  @user.curriculum.id == current_user.curriculum.id %>
      <%= link_to "Edit Curriculum", edit_curriculum_path(@user.curriculum) , class: "btn btn-sm btn-custom" %>
      <% end %>
    </div>
  </div>
  <div id="curriculum">
    <div id="curr_title">
    <p class="bold centered tall">Curriculum Vitae</p>
    <p class="bold centered"><%= @user.name %></p>
    </div>
    <br>
    <div id="curr_description" >
    <p class="justified"><%= @user.curriculum.description %></p>
    </div>
    <br>
    <div id="curr_personal" >
    <p><span class="bold">Contact:</span> <%= @user.curriculum.contact %></p>
    <p><span class="bold">Age: </span><%= @user.curriculum.age %></p>
    <p><span class="bold">Education: </span><%= @user.curriculum.education %></p>
    </div>
    <br>
    <div id="curr_pastworks">
    <p class="bold">Previous Jobs:</p>
    <div class="spacer5"></div>
      <% if  @user.curriculum.id == current_user.curriculum.id %>
    <%= link_to "Add new Job", new_jobshistory_path, class: 'btn btn-xs btn-custom' %>
       <% end %>
      <div class="spacer5"></div>
      <% @user.curriculum.jobshistories.each do |jobs| %>
          <p><%= jobs.start%>-<%= jobs.end%> <%= jobs.company%>, <%= jobs.location%>
          <% if  @user.curriculum.id == current_user.curriculum.id %>
          <%= link_to image_tag("edit_icon.png", :border => 0, :class => 'valignmiddle'), edit_jobshistory_path(jobs)%>
              <% end %></p>
    <% end %>
    </div>
  </div>
  <div id="contacts">

    <div class="contact_notices">
    <h1 class="h1 inline_block vcenter">Contacts</h1>
    <div class="pending_requests inline_block">
      <div class="button_holder">
        <% if  @user.curriculum.id == current_user.curriculum.id %>
        <%= link_to "Pending Requests", '#potato', class: 'btn btn-sm btn-custom' %>
         <% end %>
      </div>
    </div>
    </div>
    <div class="contact_list">
    <ul>
      <% for friendship in @user.friendships %>
          <li><div class="contact_box">
            <img class="contact_img" src="<%= asset_path(friendship.friend.img_url)%>"/>
            <%= friendship.friend.name %>
            <% if  @user.curriculum.id == current_user.curriculum.id %>
            (<%= link_to "remove", friendship, :method => :delete %>)
            <% end %>
          </div>
          </li>
      <% end %>
      <div class="apple_pagination">
        <%= will_paginate @friendships, :page_links => true %>
      </div>
      <% for user in @user.inverse_friends %>
          <li><div class="contact_box">
            <img class="contact_img" src="<%= asset_path(user.img_url)%>"/>
            <%= user.name %>
          </div>
          </li>
      <% end %>
    </ul>
    </div>
  </div>
