<!-- USER -->
  <div id="user_info" class="clear">
    <div id="user_photo_holder">
    <img id="user_photo" src="<%= asset_path(@user.img_url) %>">
    </div>
    <div id="user_text">
      <p><span class="curriculum_author_title">Name: </span><span class="curriculum_author_text"><%= @user.name %></span></p>
      <p><span class="curriculum_author_title">Employed at: </span><span class="curriculum_author_text"><%= @user.workplace %></span></p>
      <br>
      <%= link_to "Edit Curriculum", edit_curriculum_path(@user.curriculum) , class: "btn btn-sm btn-custom" %>
    </div>
  </div>
  <div id="curriculum">
    <div id="curr_title">
    <p class="bold centered tall">Curriculum Vitae</p>
    <p class="bold centered"><%= @user.name %></p>
    </div>
    <br>
    <div id="curr_description" >
    <p class="justified"><%= @user.curriculum.description %></p>
    </div>
    <br>
    <div id="curr_personal" >
    <p>Contact: <%= @user.curriculum.contact %></p>
    <p>Age: <%= @user.curriculum.age %></p>
    <p>Education: <%= @user.curriculum.education %></p>
    </div>
    <br>
    <div id="curr_pastworks">
    <p class="bold">Previous Jobs:</p>
    <% @user.curriculum.jobshistories.each do |jobs| %>
        <p><%= jobs.start%>-<%= jobs.end%> <%= jobs.company%>, <%= jobs.location%><%= link_to image_tag("edit_icon.png", :border => 0, :class => 'valignmiddle'), edit_jobshistory_path(jobs)%></p>
    <% end %>
    </div>
  </div>
  <div id="contacts">
    <p id="contacts_title" class="bold tall">Contacts</p>
    <p id="new_contacts"><a href="contacts.html">You have <span class="underline">2</span> new contact request</a></p>
    <br>
    <ul id="contacts_list">
      <li>
        <img class="contact_img" src="../img/AshleyPerson.jpg">
        <a href="#">Ashley Davidson</a>
      </li>
      <li>
        <img class="contact_img" src="../img/Person.Ashley.jpg">
        <a href="#">Herald Jonhson</a>
      </li>
      <li>
        <img class="contact_img" src="../img/sarah.jpg">
        <a href="#">Sarah Hamilton</a>
      </li>
      <li>
        <img class="contact_img" src="../img/un.jpg">
        <a href="#">Kim Jong Un</a>
      </li>
    </ul>
    <hr>
    <p class="centered"><span id="all_contacts" class="bar_title"><a href="contacts.html">See all contacts</a></span></p>
  </div>
