<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, class: 'post_label'%>
    <%= f.text_field :title, class: 'post_title form-control' %>
  </div>
  <div class="field">
    <%= f.label "Image Url", class: 'post_label'%>
    <%= f.text_field :img_url, class: 'post_title form-control' %>
  </div>
  <div class="field">
    <%= f.label :content, class: 'post_label' %>
    <%= f.text_area :content, class: 'text_content form-control' %>
  </div>
  <div class="actions">
    <%= f.submit id: "submit_post" , class: "btn btn-custom" %>
  </div>
<% end %>
