<div id ="publish_new">
  <%= link_to 'Click me if you have news to publish', new_post_path  %>
</div>

<% @posts.reverse_each do |post| %>
    <div class="news_block">
      <div class="news_title">
        <h2><%= post.title %></h2>
      </div>
      <div class="news_author">
        <div class="author_img">
          <a href="#"><img alt="user pic" src="<%= asset_path(post.user.img_url) %>"/></a>
        </div>
        <div class="author_info">
          <p><span class="user_title">Name: </span><span class="user_detail"><%= post.user.name %></span></p>
          <p><span class="user_title">Employed at: </span><span class="user_detail"><%= post.user.workplace %></span></p>
          <p><span class="user_title">Post Date: </span><span class="user_detail"><%= post.created_at %></span></p>
        </div>

      </div>
      <div class="news_content">
        <%= post.content %>
      </div>
      <div class="news_footer">

        <div class="news_actions">
          <%= link_to 'Share ('+ post.shares.to_s + ')', post, :method => :add_share, :remote=>true,class: "btn btn-sm btn-custom" %>
          <% if post.user.name == current_user.name %>
          <%= link_to 'Edit', edit_post_path(post),class: "btn btn-sm btn-custom" %>
          <%= link_to 'Remove', post, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-sm btn-custom" %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
<div class="apple_pagination">
<%= will_paginate @posts, :page_links => true %>
</div>
