<!DOCTYPE html>
<html>
<head>
  <title>Lets Get Pro</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "home" %>
  <%= stylesheet_link_tag "global" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => 'shared/head_nav' %>
<div id="page">
  <%= render :partial => 'shared/left_side_bar' %>
  <%= render :partial => 'shared/main_content' %>
  <%= render :partial => 'shared/right_side_bar' %>
</div><!-- END CONTENT AREA -->
</body>
</html>
